.moon-container {
  position: fixed;
  top: 6%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.moon {
  width: 60px; /* Adjust the size of the circle as needed */
  height: 60px; /* Adjust the size of the circle as needed */
  background: #fff; /* Set the color of the circle */
  border-radius: 50%;
  position: relative;
}

.eye {
  position: absolute;
  width: 8px; /* Adjust the size of the circle as needed */
  height: 12px; /* Adjust the size of the circle as needed */
  background: blue;
  border-radius: 50%;
  top: 34%;
}

.eye.squint {
  width: 8px;
  height: 8px;
  border-radius: 50% / 100% 100% 0 0;
  transform: rotate(-45deg);
  transition: 0.07s ease-in-out;
}

.left {
  left: 12%;
}

.left:hover {
  transform: translate(-50%, -50%) translateX(-200px) translateY(200px);
}

.right {
  left: 42%;
}

.right:hover {
  transform: translate(-50%, -50%) translateX(200px) translateY(200px);
}
